@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #dd5e89, #f7bb97);
    color: #fff;
    padding: 10px;
}
.calculator {
    width: 100%;
    max-width: 400px;
    margin-left: 10%;
    margin-top: 5%
}
.calculator h1 {
font-size: 50px;
}
.calculator h1 span{
    color:#ffff76;
}
.inputDiv{
    width: 500px;
    max-width: 600px;
    height: 100px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.inputDiv input{
    flex: 1;
    margin-right: 20px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    position: relative;
}
.inputDiv button{
    background: #ffff76;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    font-weight: 500;
}
.inputDiv input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    /* background: #dd5e89; */
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 20px;
    cursor: pointer;
    height: auto;
}
#result{
    font-size: 15px;
    margin: 10px;
}
#result span{
    color: #ffff76;
    font-weight: 500;
}